* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Work Sans', sans-serif;
}

/* @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap'); */

/* common css start */

.container {
    width: 1240px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    display: inline-block;
}

/* common css end */


/* nav section start*/
nav {
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.10);
}

.nav_body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.nav_logo {

    display: flex;
    justify-content: start;
    align-items: center;
}

.nav_logo img {
    width: 65px;
    margin-right: 10px;
}

.nav_logo h3 {
    font-size: 30px;
    font-weight: 700;
}

.nav_logo h3 span {
    color: #FF42A5;
}

.nav_item {
    display: flex;
    justify-content: right;
    align-items: center;
}

.nav_list {
    margin-right: 20px;
}

.nav_list ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_list ul li {
    margin: 0 5px;
}

.nav_list ul li a {
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}

.nav_follow {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

.nav_follow h5 {
    margin-right: 12px;
    font-size: 18px;
}

.nav_follow a {
    font-size: 25px;
    color: #F61C0D;
}

.nav_follow a:last-child {
    color: #3C354F;
    margin-left: 10px;
}

/* nav section end*/

/* banner section start */

.banner {
    background: url(../images/Group\ 14.png);
    background-size: 50%;
    background-position: top left;
    background-repeat: no-repeat;
    height: 600px;
}

.banner_body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner_text {
    width: 50%;
}

.banner_text div h3 {
    font-size: 40px;
}

.banner_text div h1 {
    font-size: 80px;
    font-weight: 800;
    background: -webkit-linear-gradient(90deg, #8758F1 0%, #F948B2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner_text div p {
    font-size: 18px;
    margin-top: 5px;
}

.banner_text div p i {
    font-size: 20px;
    color: #FF42A5;
}

.banner_btn button {
    margin-top: 25px;
    padding: 15px 36px;
    border-radius: 48px;
    border: none;
    background: #FF42A5;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    margin-right: 10px;
}

.banner_btn button:last-child {
    background-color: #4EC5F7;
}

.banner_img {
    width: 50%;
    height: 100%;
}

.banner_img img {
    width: 100%;
    height: 100%;
}

/* banner section end */
/* gamer section start */
.gamer {
    padding: 50px 0;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
}

.gamer_body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gamer_img {
    width: 60%;
}

.gamer_img img {
    width: 100%;
}

.gamer_text {
    width: 40%;
    text-align: right;
}

.gamer_text h1 {
    font-size: 40px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
}


.gamer_text p {
    font-size: 18px;
    color: #534C64;
    margin-bottom: 20px;

}

.gamer_text button {
    padding: 15px 36px;
    border-radius: 48px;
    border: none;
    background: #FF42A5;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 20px;
}

.gamer_text h3 {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 10px;
}

.gamer_text h2 {
    font-size: 24px;
}

/* gamer section end */

/* videos section start */
.videos {
    padding: 50px 0;
}

.videos_text {
    text-align: center;
}

.videos_text h1 {
    font-size: 40px;
}

.videos_text h1 span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.videos_cards {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.videos_card {}

.video_img {
    position: relative;
    margin-bottom: 10px;
}

.video_img img {
    width: 100%;
}

.video_overLa {
    border: 5px solid #FF42A5;
    position: absolute;
    transition: 0.5s all ease-out;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border-radius: 16px;
    opacity: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%);
}

.video_overLa i {
    font-size: 45px;
    color: #fff;
    margin-bottom: 20px;
}

.video_overLa a {

    font-size: 20px;
    font-weight: 600;
    color: #FF42A5;

}

.video_img:hover .video_overLa {
    opacity: 1;
    transition: 0.5s all ease-in;
}



/* videos section end */

/* play section start */
.play_body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.play_text {
    width: 50%;
}

.play_text h1 {
    font-size: 40px;
    width: 50%;
}

.play_text h1 span {
    color: #FF42A5;
}

.play_text p {
    width: 50%;
}

.play_img_s {
    width: 100%;
}

.play_img {
    width: 50%;
    position: relative;
}

.paly_over_img {
    width: 40%;
    left: -20%;
    position: absolute;
    bottom: -10%;

}

/* play section end */

.careers {
    margin-top: 50px;
    background: #FF42A5;
}

.careers_body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    color: #fff;
}

.careers_text {
    width: 50%;
}

.careers_text h3 {
    font-size: 40px;

    margin-bottom: 20px;
}

.careers_text button {
    padding: 15px 36px;
    border-radius: 48px;
    border: none;
    background: #fff;
    font-size: 18px;
    font-weight: 600;
    color: #FF42A5;
    margin-right: 10px;
}

.careers_img {
    width: 50%;
}

.careers_img img {
    width: 100%;
}

/* .careers_text p {
    padding: 20px 0;
} */

.careers_text-p {
    padding: 20px 0;
}

.careers_text-p p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}

/* users section start */
.users_body {
    padding: 50px 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    align-items: center;
}

.users_card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid transparent;
    padding: 5px 10px;
    border-radius: 50px;
}

.users_card:hover {
    border-color: #FF42A5;
    color: #FF42A5;
}

.users_card img {
    width: 22%;
}

.users_card h4 {
    font-size: 20px;
}


footer {
    background: #0B0223;
    padding: 50px 0;
}

.footer_body {
    text-align: center;
    color: #fff;
}

.footer_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.footer_logo img {
    width: 60px;
    margin-right: 5px;
}

.footer_logo h3 {
    font-size: 35px;
}

.footer_logo h3 span {
    color: #FF42A5;
}

.footer_list {
    margin: 20px 0;
}

.footer_list a {
    margin: 0 5px;
    color: #fff;
    font-weight: 500;
}

.footer_icon a {
    color: #fff;
    font-size: 35px;
    margin: 0 5px;
}

.footer_text {
    margin: 20px 0;
}

.footer_text a {
    color: #fff;
    padding: 0 10px;
}





/* table view start */
/* table view end */


/* mobile view start */
@media (300px <=width <=750px) {

    /* common css start */
    .container {
        width: 100%;
    }

    /* common css start */

    /* nav section start */
    .nav_body {
        flex-direction: column;

    }

    .nav_logo {
        margin-bottom: 20px;
    }

    .nav_list ul {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .nav_list ul li {
        margin-bottom: 10px;
    }

    .nav_item {
        flex-direction: column;
    }

    /* nav section end */


    /* banner section start */

    .banner {
        height: auto;
        margin-top: 50px;
    }

    .banner_body {
        flex-direction: column-reverse;
        justify-content: center;
    }

    .banner_text {
        padding: 50px 10px;
        width: 100%;
        text-align: center;
    }

    .banner_img {
        width: 100%;
    }

    /* gamer section start */
    .gamer_body {
        flex-direction: column;
    }

    .gamer_img {
        width: 100%;
    }

    .gamer_text {
        width: 100%;
        text-align: center;
    }

    /*video section start  */
    .videos_body {
        padding: 0 10px;
    }

    .videos_cards {
        grid-template-columns: repeat(1, 1fr);
    }

    /* play section start */

    .play_body {
        flex-direction: column;
        padding: 0 10px;
    }

    .play_text {
        width: 100%;
        text-align: center;
    }

    .play_text h1 {
        font-size: 40px;
        width: 80%;
        margin: 0 auto;
    }

    .play_text p {
        width: 80%;
        margin: 0 auto;
        padding: 15px 0;
    }

    .play_ing {
        width: 100%;
    }

    .play_img_s {
        width: 100%;
    }

    .paly_over_img {
        width: 50%;
    }


    .careers_body {
        flex-direction: column;
        padding: 50px 10px;
        color: #fff;
    }

    .careers_text {
        width: 100%;
        margin-bottom: 20px;
    }



    .careers_img {
        width: 100%;
    }

    /* users  */
    .users_body {

        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
        padding: 25px 5px;
    }

    .users_card {
        padding: 8px;
    }

    .users_card img {
        width: 20px;
    }

    .users_card h4 {
        font-size: 10px;
    }
}




/* mobile view end */
/* mobile view start */